
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;


/*@font-face {*/
/*  font-family: 'Zilla Slab';*/
/*  font-weight: 400; */
/*  src: url(../fonts/zilla-slab/ZillaSlab-Regular.otf) format('opentype');*/
/*}*/
/*@font-face {*/
/*  font-family: "Zilla Slab";*/
/*  font-weight: 400;*/
/*  font-style:italic;*/
/*  src: url('../fonts/zilla-slab/ZillaSlab-RegularItalic.otf') format('opentype');*/
/*}*/
/*@font-face {*/
/*  font-family: "Zilla Slab";*/
/*  font-weight: 500;*/
/*  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");*/
/*}*/


@font-face {
	font-family: "Museo Slab";
	font-weight: 500;
	src: url("../fonts/museo-slab/Museo_Slab_500_2-webfont.woff") format('woff');
}

@font-face {
	font-family: "Museo Slab";
	font-weight: 500;
	font-style:italic;
	src: url("../fonts/museo-slab/Museo_Slab_500italic-webfont.woff") format('woff');
}

/*@font-face {*/
/*  font-family: "Zilla Slab";*/
/*  font-weight: 600;*/
/*  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");*/
/*}*/
/*@font-face {*/
/*  font-family: "Zilla Slab";*/
/*  font-weight: 700;*/
/*  src: url("../fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");*/
/*}*/
/*@font-face {*/
/*  font-family: "Zilla Slab";*/
/*  font-weight: 700;*/
/*  font-style:italic;*/
/*  src: url("../fonts/zilla-slab/ZillaSlab-BoldItalic.otf") format("opentype");*/
/*}*/
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  src: url("../fonts/libre-franklin/librefranklin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  src: url("../fonts/libre-franklin/librefranklin-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  src: url("../fonts/libre-franklin/librefranklin-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  src: url("../fonts/libre-franklin/librefranklin-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-bolditalic.ttf") format("truetype");
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

a{ @apply text-blue-900 font-semibold border-b-2 border-milky-900;}
a:hover{ @apply border-blue-900;}
hr {border-width:0;}

th{
  @apply bg-gray-100 text-brown-300 font-bold py-2  text-left;
}
.text-tiny {
	font-size:12px;
	line-height:16px;
	@apply font-body;
}
.text-small{
	font-size:14px;
	line-height:24px;
	@apply font-body;
}
.text{
	font-size:16px;
	line-height:24px;
	@apply font-body;
}

.text-large{
	font-size:18px;
	line-height:26px;
	@apply font-body;
}

.heading-xs {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	padding-bottom: 8px;
	@apply font-display;
}

.heading-s{
	font-size:16px;
	line-height:32px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading{
	font-size:20px;
	line-height:40px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading-m{
	font-size:28px;
	line-height:48px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading-l{
	font-size:32px;
	line-height:40px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading-xl{
	font-size:36px;
	line-height:42px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading-d{
	font-size:48px;
	line-height:54px;
	font-weight:700;
	padding-top: 8px;
	@apply font-display;
}
.heading-dxl{
	font-size:60px;
	line-height:70px;
	font-weight:400;
	padding-top: 8px;
	@apply font-display;
}
.heading-txl{
	font-size:72px;
	line-height:84px;
	font-weight:400;
	padding-top: 8px;
	@apply font-display;
}
button{
	 @apply font-bold py-2 px-4 rounded bg-green-900 text-white;
}
button:hover{
	@apply bg-green-800;
}
button.btn-lg{
	@apply py-4 px-10 text-large;
}
.error-msg{
	@apply text-red-500 text-xs italic
}
label{
	@apply font-bold;
}
input[type='text'], textarea {
	@apply shadow bg-brown-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
input[type='text']:focus, textarea:focus{
	@apply outline-none shadow-outline;
}
input[type='checkbox']{
	@apply text-blue-800 bg-red-800;
}
input.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
select{
	@apply block appearance-none w-full   border border-brown-200 text-brown-700 py-3 px-4 pr-8 rounded leading-tight;
}
select:focus{
 @apply   outline-none shadow-outline bg-white border-green-700;
}
select.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
::selection {
  background: #EADFD3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EADFD3; /* Gecko Browsers */
}
figcaption {
	@apply text-small italic text-brown-700 p-2;
}
p.short{max-width:39px; min-width:35px;}
p.compliant{max-width:50px; min-width:40px;}
p.optimal{max-width:90px; min-width:51px;}
p.toobig{ min-width:91px;}


.read {@apply ml-auto mr-auto;}
.read p {
	@apply  max-w-2xl mr-auto ml-auto mb-3 text-large;
}
.read h1 {@apply heading-dxl text-red-900 mb-2}
.read h2 {@apply heading-l text-red-900 mt-8 ;}
.read.home h2 {@apply text-brown-600;}
.read h3{@apply heading-m text-blue-900 mt-8 ;}
.read h4 {@apply heading text-green-900  mt-8 ;}
.read h5 {@apply heading-s text-brown-900  mt-8 ;}
.read figure { @apply ml-auto mr-auto mt-8 ;}
.read ul {
	@apply  max-w-xl mr-auto ml-auto my-4 text-large leading-snug list-disc ;
	max-width:620px;
}
.read blockquote p{
	max-width:none;
}



.card {
	@apply max-w-sm rounded overflow-hidden shadow-lg;
}
.card img {
	@apply w-full;
}
a .card h3, a .card h4 {
	@apply text-blue-900 font-display text-2xl font-bold;
}
a .card p{
	@apply text-brown-700 text;
}
.card.dark{
	@apply text-milky-100 bg-green-900;
}
a .card.dark p{
	@apply text-milky-100 text;
}
a .card.dark h3, a .card.dark h4 {
	@apply text-blue-100;

}
blockquote {
	@apply text-2xl border-l-4 border-green-600 text-brown-600 p-6 my-6 ;
}
blockquote footer{
	@apply text-small italic text-brown-800  mt-4 mb-2;
}
blockquote footer a {
 @apply not-italic;
}


/* CS Adds*/

p{
	margin-top: .3em ;
	margin-bottom: .7em ;
}


nav a{ @apply text-blue-700 font-semibold border-b-2 border-milky-900;}

.jumbotron {
	padding: 30px; /* fills out the jumbotron */
	max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
	background:url("../img/usrsb_stackphotography.png") top center no-repeat;
	background-size: cover;
	display: inline-block;
}

.read-basic {@apply ml-auto mr-auto;}

.read-basic p {
	@apply  max-w-2xl mr-auto ml-auto mb-4 text;
}
.read-basic h1 {@apply heading-l text-red-900}
.read-basic h2 {@apply heading-m text-red-900 mt-8 ;}
.read-basic.home h2 {@apply text-brown-600;}
.read-basic h3{@apply heading text-blue-900 mt-8 ;}
.read-basic h4 {@apply heading-s text-green-900  mt-8 ;}
.read-basic h5 {@apply heading-xs text-brown-900  mt-8 ;}
.read-basic figure { @apply ml-auto mr-auto mt-8 ;}
.read-basic ul {
	@apply  max-w-xl mr-auto ml-auto my-4 text-large leading-snug list-disc ;
	max-width:620px;
}
.read-basic blockquote p{
	max-width:none;
}


.read-bio {@apply ml-auto mr-auto;}
.read-bio p {
	@apply  max-w-2xl mr-auto ml-auto mb-3 text;
}
.read-bio h1 {@apply heading-l text-red-900}
.read-bio h2 {@apply heading-m text-red-900 mt-8 ;}
.read-bio.home h2 {@apply text-brown-600;}
.read-bio h3{@apply heading text-blue-900 mt-8  leading-snug;}
.read-bio h4 {@apply heading-s text-green-900 leading-snug  ;}
.read-bio h5 {@apply text-sm text-brown-900 leading-snug italic ;}
.read-bio figure { @apply ml-auto mr-auto mt-1 ;}
.read-bio ul {
	@apply  max-w-xl mr-auto ml-auto my-4 text leading-loose list-disc ;
	max-width:620px;
}
.read-bio blockquote p{
	max-width:none;
}
.read-bio li span{ font-weight: bolder;}

img.recipe{}